.label {
  display: block;
}

.input {
  display: block;
  width: 300px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-top: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  transition: 250ms;
  border: solid 3px#fff;
}

.input:hover,
.input:focus {
  border: solid 3px teal;
}
